/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  padding: 2rem;
}

header {
  background-color: #1E1E24;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  header {
    padding: 2rem 1rem;
  }

  .content {
    padding: 1rem;
  }

  .menu.box h2 svg {
    display: none;
  }
}

header p {
  margin-bottom: 0;
}
h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.link-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: calc(1024px * 1.25);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .link-grid {
    grid-template-columns: 1fr;
  }
}

.link-grid a {
  background-color: #005bbc;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.2s ease-in;
}

.link-grid a:hover,
.link-grid a:focus {
  background-color: #2E79C8;
  cursor: pointer;
}

.box {
  background-color: #005bbc;
  color: white;
  padding: 2rem;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: .5rem;
}


.box h2 {
  margin-top: 0rem;
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.food {
  max-width: 640px;
  margin: 0 auto;
}

.menu-type-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .menu-type-grid {
    grid-template-columns: 1fr;
  }
}

.menu-type-grid.full {
  grid-template-columns: 1fr;
}

.menu-type {
  text-align: left;
}

.menu-type-grid.buttons {
  margin-top: 2rem;
}

.menu-type-grid.buttons.top {
  margin-top: 0;
  margin-bottom: 2rem;
}

.food-menu-button {
  background-color: white;
  color: #005bbc;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border: 0;
  appearance: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  transition: 0.2s ease-in;
}

.food-menu-button:hover,
.food-menu-button:focus {
  background-color: #D1E1F3;
  cursor: pointer;
}

#menu-dialog {
  max-width: 1024px;
  max-height: calc(95vh - 2.5rem * 2);
  padding: 2.5rem 4rem;
}

#time-dialog {
  overflow-x: hidden;
}


#menu-dialog .menu-type-grid:not(.buttons) {
  gap: 5rem;
}

#menu-dialog .food-menu-button {
  background-color: #005bbc;
  color: white;
}

#menu-dialog .food-menu-button:hover,
#menu-dialog .food-menu-button:focus {
  background-color: #2E79C8;
}

#menu-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.review {
  margin-top: 1.5rem;
}

.review p {
  margin: 0.25rem 0;
}

#menu-dialog .food-menu-button.secondary {
  background-color: transparent;
  border: 2px solid #005bbc;
  color: #005bbc;
  font-weight: 700;
}

#menu-dialog .food-menu-button.secondary:hover,
#menu-dialog .food-menu-button.secondary:focus {
  background-color: #005bbc;
  color: white;
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.disclaimer {
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

footer {
  background-color: #1E1E24;
  color: white;
  padding: 1.5rem 4rem;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  footer {
    border-radius: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

a {
  color: white;
}

footer p {
  margin: 0;
}

footer p:not(:last-child) {
  margin-bottom: 0.5rem;
}

tr td,
tr th {
  text-align: left;
}

table {
  border-spacing: 2rem 5px;
  max-width: 100%;
    overflow-x: auto;
    display: block
}

#random-fact {
  max-width: 650px;
  line-height: 1.625;
  margin: 0 auto;
}
#random-fact a {
  color: white;
}

#week-bulletin-events {
  line-height: 1.625;
  margin-bottom: 1rem;
  text-align: left;
}

#week-bulletin-events h4 {
  margin: 0.5rem 0;
}

#week-bulletin-events p {
  margin: 0;
}

@media screen and (min-width: 640px) {
  #week-bulletin-events p {
    margin-left: 1rem;
  }
}

#lidl-prices,
#product-prices {
  line-height: 1.625;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.product {
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  width: 280px;
  overflow: hidden;
}

.product .price {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.product .price.trend-down {
  color: #109648;
}

.product .price.trend-up {
  color: #ED1C24;
}

.product-info {
  padding: 0.5rem 1rem;
}

.product .history {
  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.lidl {
  margin-bottom: 0;
}
.lidl-box .description {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.lidl-box .disclaimer,
.nocco-box .disclaimer,
.products-box .disclaimer {
  margin-bottom: 0;
  margin-top: 1rem;
}

.products-box {
  max-width: calc(1024px * 1.5)
}

.button {
  background-color: white;
  color: #005bbc;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border: 0;
  appearance: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  margin: 0 auto;
  width: fit-content;

  transition: 0.2s ease-in;

  margin-top: 2rem;
}

.button:hover,
.button:focus {
  background-color: #D1E1F3;
  cursor: pointer;
}

h2,
h1 {
  hyphens: auto;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }

.nocco-index {
  font-size: 4rem;
  margin: 0;
  font-weight: 900;
}

.nocco-where {
  font-weight: 500;
}

.no-nocco-for-you {
  font-weight: 700;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 2rem;
}

.nocco-box .button {
  margin-top: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
}
#product-prices .product img {
  padding: 1rem;
}
#product-prices .product-info {
  padding: 0;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#product-prices .button {
  background-color: #005bbc;
  color: white;
  width: 100%;
}

#product-prices .button:hover,
#product-prices .button:focus {
  background-color: #2E79C8;
}

.product-search-box {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #005bbc;
  color: white;
  border-radius: 0.5rem;
  width: calc(100% - 2rem* 2);
}

.product-search-box h2 {
  margin-top: 0;
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  gap: 1rem;
}

.product-search-box .search-box {
  padding: 1rem;
  border-radius: 16rem;
  background-color: white;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  color: black;
  align-items: center;
}

.search-box:hover {
  cursor: text;
}

.product-search-box input[type="text"] {
  appearance: none;
  border: 0;
  font-size: 1rem;
  width: 100%;
  padding-left: 1rem;
  height: 100%;
}

.search-box:focus-within,
.search-box:active {
  outline: 2px solid black;
}
.product-search-box input[type="text"]:focus {
  outline: none;
}

.product-search-box button {
  background-color: white;
  color: #005bbc;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border: 0;
  appearance: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  margin-top: 1rem;
  min-width: fit-content;
  transition: 0.2s ease-in;
}